@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body,
* {
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
}

.nav-logo {
    width: 4rem;
}


.nav-link:hover {
    background-color: white;
    border-radius: 10%;
}



.membership-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.membership-poster {
    width: 100vw;
}

.membership-poster>img {
    width: 100%;
}

.membership-poster>h1 {
    font-weight: bolder !important;
}

.membership-text {
    width: 100vw;
    font-size: large;
    text-align: center;
    padding: 5vw 5vw 0vw 5vw;
}

.membership-text>h1 {
    color: #FF7722
}


.member-form {
    height: 75vh;
}

.member-form {
    box-sizing: border-box;
}

.elementor-widget-container {
    padding: 6rem 10rem;
}

.member-form .elementor-widget-container .head .formlogo {
    height: 8rem;
    display: block;
    margin: auto;
}


.hover-underline-animation {
    display: inline-block;
    position: relative;
    color:
        #fc8c35;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:
        #fc8c35;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

input,
textarea,
select {
    border: 2px solid rgb(175, 168, 168) !important;
}

input:focus,
textarea:focus,
select:focus {
    border: 2px solid #fc8c35 !important;
    box-shadow: none !important;
}

input[type=email],
input[type=number],
input[type=password],
input[type=reset],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
input[type=date],
input[type=file],
select,
textarea {
    color: #666;
    padding: 0.75em !important;
    height: auto;
    border-width: 2px !important;
    border-style: solid !important;
    border-radius: 10px;
    box-shadow: none;
    box-sizing: border-box;
    transition: all .2s linear;
}

.member-form .elementor-widget-container .head h2 {
    font-size: 2.125rem;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1.4em;
    text-transform: uppercase;
    font-weight: bolder;
}

@media (max-width: 921px) {

    .member-form .elementor-widget-container .head h2 {
        font-size: 30px !important;
    }
}

@media screen and (max-width : 840px) {
    .member-content>h6 {
        display: none;
    }

    .member-poster>img {
        width: 100%;
    }

    .membership-content {
        flex-direction: column;
        height: fit-content;
        margin: 0px;
        justify-content: flex-start;
    }

    .membership-poster {
        width: 100%;
        top: 0px;
    }

    .membership-text {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .elementor-widget-container {
        padding: 50px 60px;
    }
}

@media (max-width: 544px) {
    .member-form .elementor-widget-container .head .formlogo {
        height: 6rem !important;
    }

    .member-form .elementor-widget-container .head h2 {
        font-size: 24px !important;
    }
}

@media screen and (max-width: 415px) {

    input[type=email],
    input[type=number],
    input[type=password],
    input[type=reset],
    input[type=search],
    input[type=tel],
    input[type=text],
    input[type=url],
    input[type=date],
    input[type=file],
    select,
    textarea {
        padding: 0.5em 0.6em !important;
    }

    .elementor-widget-container {
        padding: 50px 30px;
    }

    .membership-text h1{
        font-size: 24px;
    }

    .membership-text h6{
        font-size: 1rem;
    }

    .lead {
        font-size: 1rem;
    }

}


@media screen and (max-width : 345px) {
    .image img {
        width: 100%;
    }

    .social-icons a {
        font-size: 0.4rem;
    }
}